@model FileManagerModel

@{
    ViewBag.Title = "Arquovos";
}

@if(Model.Files != null)
{
    <h3>Imagens</h3>
    <hr />
    var caminho = Model.PathImageProduct;
    <div clas´="row">
        @foreach(FileInfo file in Model.Files)
        {
            <div class="flex-column">
                <img src="/@caminho/@file.Name" width="125" height="125"/>
                <div>
                    <a href="@Url.Action("DeleteFiles","AdminImagens", new {fname=file.Name})">Deletar</a>
                    <!--está url e uma forma de aciona o metodo Delete File do controlador adminimagens-->
                </div>
            </div>
        }
    </div>

}
